/*Form*/
.forms-block {
	border: 1px solid #e2e2e2;
	padding: 20px;
	box-shadow: 0px 5px 3px #e2e2e2;
}
.social-block {
	border-right: 1px solid #e2e2e2;
	padding-top: 10px;
}
.login-block {
	padding-left: 40px;
}
.login-block .form-horizontal .form-group {
	margin-right: 0px;
}
.social-connect .facebook-login,.google-login,.twitter-login {
	padding: 12px 19px;
	margin-bottom: 10px;
}
.social-connect .facebook-login a, .google-login a, .twitter-login a {
	 text-decoration: none;
	 color: #fff;
	 position: relative;
}
.social-connect .facebook-login a i, .google-login a i, .twitter-login a i {
	font-size: 24px;
	margin-right: 5px;
	color: #fff;
	position: absolute;
	top: -3px;
	left: 0;
}
.social-connect .facebook-login a span, .google-login a span, .twitter-login a span {
	padding-left: 30px;
}
.social-connect .facebook-login {
	background-color: #406a80;
}
.social-connect .google-login {
	background-color: #e74c3c;
}
.social-connect .twitter-login {
	background-color: #73bfe5;
}
.forgot-pass {
	padding-left: 0px;
}
.btn-cancel {
	margin-top: 7px;
}

/*Packages*/
#package-search {
	padding-bottom: 12px;
}

/*Sites*/
.sites-heading {
	padding-bottom: 24px;
}
/*User*/
.users-heading {
	padding-bottom: 16px;
}